<?xml version="1.0" encoding="utf-8"?>
<Content Key="5673f23d-d0c7-4c2c-9ce5-237945aa3852" Alias="Page" Level="2">
  <Info>
    <Parent Key="deee894a-7513-4211-aac3-f6b7954d81c7">Site</Parent>
    <Path>/Site/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2024-06-05T13:37:44</CreateDate>
    <NodeName Default="Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ea21c0ad-752b-4d6a-a391-aa2b08ac103e">Page</Template>
  </Info>
  <Properties />
</Content>