<?xml version="1.0" encoding="utf-8"?>
<Content Key="08f0232b-40ea-4eec-9338-8f33dc29f1db" Alias="ProductPlaceholder" Level="2">
  <Info>
    <Parent Key="deee894a-7513-4211-aac3-f6b7954d81c7">Site</Parent>
    <Path>/Site/ProductPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>productPlaceholder</ContentType>
    <CreateDate>2024-06-05T10:47:40</CreateDate>
    <NodeName Default="ProductPlaceholder">
      <Name Culture="da">ProductPlaceholder - da</Name>
      <Name Culture="en-us">ProductPlaceholder</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f73add8b-e40b-453c-8c93-0b89b1b48e9b">ProductPlaceholder</Template>
  </Info>
  <Properties>
    <metaTitle>
      <Value><![CDATA[test]]></Value>
    </metaTitle>
  </Properties>
</Content>