<?xml version="1.0" encoding="utf-8"?>
<Content Key="deee894a-7513-4211-aac3-f6b7954d81c7" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2024-06-05T13:37:31</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <menu>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2a0803250eba4e03b507d9081fad4582"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "08caab8e-871f-455a-a76c-d59f4090befd",
      "udi": "umb://element/2a0803250eba4e03b507d9081fad4582",
      "menulink": [
        {
          "name": "Google",
          "url": "https://google.com"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </menu>
  </Properties>
</Content>