@model BugTesting.Models.ProductViewModel
@inject IVariationContextAccessor VariationContextAccessor
@{
	Layout = "Master.cshtml";
	//VariationContextAccessor.VariationContext = new VariationContext(Model.GetCultureFromDomains());
}

<h1>Product sku: @Model.Sku</h1>

<p>Culture: @Model.GetCultureFromDomains()</p>
<p>Pagename: @Model.Name</p>