<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="775e0488-a12d-411d-94f0-becfa6e8628f" Alias="site" Level="1">
  <Info>
    <Name>Site</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="baa79523-d6f8-463c-89ae-35d01b09d7be" SortOrder="0">productPlaceholder</ContentType>
    <ContentType Key="db0c068e-d479-43cc-b62f-e5dc083b05c9" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>541f45cb-ea19-4a6b-b39e-4f1820249429</Key>
      <Name>Menu</Name>
      <Alias>menu</Alias>
      <Definition>abcba118-0d6b-431d-85cd-743bced4acac</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dccccc47-9f46-4256-9e7a-4dd440e9b456</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>